{# templates/login/index.html.twig #}
{% extends 'security/base-security.html.twig' %}
{% block title %}Connection{% endblock %}
{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
        <div class="border border-secondary rounded w-25 bg-light" style="min-height: 50%">
            <div class="d-flex align-items-center justify-content-center p-3">
                <img class="w-50" src="{{ asset('img/logo-HEXAOM-couleur.png') }}" alt="logo hexaom"/>
            </div>
            <div class="p-3">
                
                <form action="{{ path('app_login') }}" method="post">
                    {% if error %}   
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control is-invalid" id="username" name="_username" value="{{ last_username }}">
                        <div class="invalid-feedback">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mot de passe</label>
                        <input type="password" class="form-control is-invalid" id="password" name="_password">
                        <div class="invalid-feedback">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                    {% else %}
                        <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="_password">
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-end p-3">
                        <button type="submit" class="btn btn-primary rounded-pill px-4 mx-2 gothicBold">Se connecter</button>
                    </div>
                </form>
            </div>
            <a class="btn btn-primary rounded-pill px-4 mx-2 gothicBold" href="{{ path('app_register') }}">Première connexion</a>
        </div>
    </div>
{% endblock %}
