{% extends 'security/base-security.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
        <div class="border border-secondary rounded w-25 bg-light" style="min-height: 50%">
            <div class="d-flex align-items-center justify-content-center p-3">
                <img class="w-50" src="{{ asset('img/logo-HEXAOM-couleur.png') }}" alt="logo hexaom"/>
            </div>
            <div class="p-3">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="p-1 form-register-validation">
                        {{ form_errors(registrationForm.email)}}
                        {{ form_label(registrationForm.email, 'Email') }}
                        {{ form_widget(registrationForm.email) }}
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="p-1 ">
                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="p-1 form-register-validation">
                        {{ form_errors(registrationForm.plainPassword)}}
                        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        <div class="invalid-feedback"></div>
                    
                   </div>
                    <div class="d-flex justify-content-end p-3"><button type="submit" class="btn btn-primary rounded-pill px-4 mx-2 gothicBold">S'enregistrer</button></div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}